<div class="form-container">
  <h2>{{"pages.patient-management.actions.add-medication.title" | translate}}</h2>
  <form [formGroup]="medicationForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>{{"pages.patient-management.actions.add-medication.medication-name" | translate}}</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{"pages.patient-management.actions.add-medication.description" | translate}}</mat-label>
      <input matInput formControlName="description">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{"pages.patient-management.actions.add-medication.interval" | translate}}</mat-label>
      <input matInput formControlName="interval">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>{{"pages.patient-management.actions.add-medication.quantity" | translate}}</mat-label>
      <input matInput formControlName="quantity" type="number">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">{{"pages.patient-management.actions.add-medication.save-button" | translate}}</button>
  </form>
</div>
